   <div class="row">
           <div class="col-md-2">
           <ul id="accordion" class="accordion">
             <li>
               <div class="link"><a href="#">Diagnostico</a></div>
             </li>
             <li>
               <div class="link"><a href="#">Medicamentos</a></div>
             </li>
             <li>
               <div class="link"><a href="#">Dolores</a></div>
             </li>
             <li>
               <div class="link"><a href="#">Signos Vitales</a></div>
             </li>
              <li>
               <div class="link"><a href="#">Historial Clinico</a></div>
             </li>
            </ul>
           </div>
            <div class="col-md-10">
                <div class="row">
                   <div class="col-md-6 col-xs-12">
                       <div class="panel panel-primary panelhieght">
                           <div class="panel-heading pheader">
                              <h1 class="panelheader headerTittle">Diagnosticos</h1>
                           </div>
                                                          
                         <div class="row">
                           <div class="col-md-12 ">
                              <button class="btn btn-info"><i class="fa fa-plus"></i></button>
                           <!--    <input type="text" data-ng-model="createCtrl.PatientCI.tipovalue" name="tipovalue" id="tipovalue" class="form-control" placeholder="ej. 000-000000-0" style=""> -->
                           </div>
                         </div>
                       </div>
                   </div>
                   <div class="col-md-6 col-xs-12">
                     <div class="panel panel-primary panelhieght">
                           <div class="panel-heading pheader">
                              <h1 class="panelheader headerTittle">Medicamentos</h1>
                           </div>
                       </div>
                   </div>
                </div>

                  <div class="row">
                   <div class="col-md-6 col-xs-12">
                       <div class="panel panel-warning panelhieght">
                           <div class="panel-heading pheader">
                              <h1 class="panelheader headerTittle">Alergias</h1>
                           </div>
                                                          
                         <div class="row">
                           <div class="col-md-12 ">
                              <button class="btn btn-info"><i class="fa fa-plus"></i></button>
                           <!--    <input type="text" data-ng-model="createCtrl.PatientCI.tipovalue" name="tipovalue" id="tipovalue" class="form-control" placeholder="ej. 000-000000-0" style=""> -->
                           </div>
                         </div>
                       </div>
                   </div>
                   <div class="col-md-6 col-xs-12">
                     <div class="panel panel-danger panelhieght">
                           <div class="panel-heading pheader">
                              <h1 class="panelheader headerTittle">Alertas</h1>
                           </div>
                       </div>
                   </div>
                </div>
           </div>
       </div> 