 <div class="row">
            <div class="col-md-offset-1 col-md-10">

             <div class="row">
                   <div class="col-sm-12 col-md-12 col-xs-12">
                       <div class="panel panel-primary panelhieght">
                           <div class="panel-heading pheader">
                              <h3 class="panelheader headerTittle">Historial Clinico</h3>
                           </div>
                           <div class="panel-body">
                        <div class="form-group">
                              <label for="comment">HC:</label>
                            <textarea ng-model="AF" class="form-control" rows="7" id="comment"></textarea>
                            </div>
                            </div>
                       </div>
                   </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                 <div class="well well-sm"><span class="spanHeader">Agudeza Visual</span></div>
                <!--  <div class="row">
                <div class="form-group divmargin" >
                <label class="control-label col-sm-2" for="name">OD</label>
                <div class="col-sm-6">
                <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control">
                </div>
                </div>
                </div> -->
                  <div class="row">
                  <div class="col-md-12">
                     <table class="table">
                        <tr>
                          <td>OD</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                        <tr>
                          <td>OI</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                     </table>
                     </div>
                       
                </div>
<!-- 
                 <div class="row">
                <div class="form-group divmargin" >
                <label class="control-label col-sm-2" for="name">OI</label>
                <div class="col-sm-6">
                <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control">
                </div>
                </div>
                </div> -->
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-6">
                 <div class="well well-sm"><span class="spanHeader">Refracción</span></div>
                 <div class="row">
                  <div class="col-md-12">
                     <table class="table">
                        <th></th>
                        <th>ESF</th>
                        <th>CIL</th>
                        <th>EJE</th>
                        <th>ADD</th>
                        <tr>
                          
                          <td>OD</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                        <tr>
                          <td>OI</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                     </table>
                     </div>
                  </div>
                  </div>
                </div>

                 <div class="row">
                <div class="col-md-6">
                 <div class="well well-sm"><span class="spanHeader">Refracción Cicoplégica</span></div>
                 <div class="row">
                  <div class="col-md-12">
                     <table class="table">
                        <th></th>
                        <th>ESF</th>
                        <th>CIL</th>
                        <th>EJE</th>
                        <th>ADD</th>
                        <tr>
                          
                          <td>OD</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                        <tr>
                          <td>OI</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                     </table>
                     </div>
                       
                </div>
                </div>
                </div>

                   <div class="row">
                  <div class="col-md-6">
                 <div class="well well-sm"><span class="spanHeader">Receta</span></div>
                 <div class="row">
                  <div class="col-md-12">
                     <table class="table">
                        <th></th>
                        <th>ESF</th>
                        <th>CIL</th>
                        <th>EJE</th>
                        <th>ADD</th>
                        <tr>
                          
                          <td>OD</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                        <tr>
                          <td>OI</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                     </table>
                     </div>
                       
           
      
                  </div>
                  </div>
                  </div>

                    <div class="row">
                    <div class="col-md-6">
                 <div class="well well-sm"><span class="spanHeader">Musculatura Extrínsica</span></div>
                 <div class="row">
                  <div class="col-md-12">
                     <table class="table">
                        <tr>
                          <td>OD</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                        <tr>
                          <td>OI</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                     </table>
                     </div>
                       
                </div>
                </div>
                </div>

                <div class="row">
                <div class="col-md-12">
                 <div class="well well-sm"><span class="spanHeader">Anexos</span></div>
                     <div class="row">
                  <div class="col-md-12">
                  <table class="table">
                        <tr>
                          <td>   <textarea ng-model="AF" class="form-control" rows="4" id="comment"></textarea></td>
                        </tr>
                     </table>
                  </div>
                  </div>                      
                </div>
                </div>

                <div class="row">
                <div class="col-md-12">
                 <div class="well well-sm"><span class="spanHeader">Biomicroscopía</span></div>
                     <div class="row">
                  <div class="col-md-12">
                  <table class="table">
                        <tr>
                          <td>   <textarea ng-model="AF" class="form-control" rows="4" id="comment"></textarea></td>
                        </tr>
                     </table>
                  </div>
                  </div>                      
                </div>
                </div>

                  <div class="row">
                    <div class="col-md-6">
                 <div class="well well-sm"><span class="spanHeader">Pupilas</span></div>
                 <div class="row">
                  <div class="col-md-12">
                     <table class="table">
                        <tr>
                          <td>OD</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                        <tr>
                          <td>OI</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                     </table>
                     </div>
                       
                </div>
                </div>

                <div class="col-md-6">
                 <div class="well well-sm"><span class="spanHeader">Tensión Instraocular</span></div>
                 <div class="row">
                  <div class="col-md-12">
                     <table class="table">
                        <tr>
                          <td>OD</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                        <tr>
                          <td>OI</td>
                          <td>  <input type="text" data-ng-model="av.od" autocomplete="false"  autocomplete="false" class="form-control"></td>
                        </tr>
                     </table>
                     </div>
                       
                </div>
                </div>
                </div>

                  <div class="row">
                <div class="col-md-12">
                 <div class="well well-sm"><span class="spanHeader">Fondo de Ojo</span></div>
                     <div class="row">
                  <div class="col-md-12">
                  <table class="table">
                        <tr>
                          <td>   <textarea ng-model="AF" class="form-control" rows="4" id="comment"></textarea></td>
                        </tr>
                     </table>
                  </div>
                  </div>                      
                </div>
                </div>
                  <div class="row">
                <div class="col-md-12">
                 <div class="well well-sm"><span class="spanHeader">Exámenes Complementarios</span></div>
                     <div class="row">
                  <div class="col-md-12">
                  <table class="table">
                        <tr>
                          <td>   <textarea ng-model="AF" class="form-control" rows="4" id="comment"></textarea></td>
                        </tr>
                     </table>
                  </div>
                  </div>                      
                </div>
                </div>
                  <div class="row">
                <div class="col-md-12">
                 <div class="well well-sm"><span class="spanHeader">Diagnóstico</span></div>
                     <div class="row">
                  <div class="col-md-12">
                  <table class="table">
                        <tr>
                          <td>   <textarea ng-model="AF" class="form-control" rows="4" id="comment"></textarea></td>
                        </tr>
                     </table>
                  </div>
                  </div>                      
                </div>
                </div>
                  <div class="row">
                <div class="col-md-12">
                 <div class="well well-sm"><span class="spanHeader">Tratamiento</span></div>
                     <div class="row">
                  <div class="col-md-12">
                  <table class="table">
                        <tr>
                          <td>   <textarea ng-model="AF" class="form-control" rows="4" id="comment"></textarea></td>
                        </tr>
                     </table>
                  </div>
                  </div>                      
                </div>
                </div>

                       <div class="row">
                   <div class="col-md-12">
                   <div class="pull-right">
                      <button class="btn btn-success btn-lg"  ng-click="createCtrl.create(); ok(); createCtrl.showDoctorSave()" ng-disabled="createDoctorForm.$invalid">Guardar &amp; Cerrar</button>
                      <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
                   </div>
                   </div>
                </div> 
                </br>
                </br>
                </div>                                        
                </div>

     </div>
</div> 