<section data-ng-controller="clienteController as clienteCtrl" >
<div class="col-md-10">
     <div class="panel panel-default">
           <div class="panel-heading">
           <div class="row">
                 <div class="col-md-6">
                    <h1><i class="fa fa-building-o"></i> Aseguradoras</h1>
                 </div>
           </div>
           </div> 
     </div>
     <div class="row">
           <div class="col-md-12">
              <md-button class="md-raised md-primary bodyContainer pull-right" data-ng-click="clienteCtrl.modelCreate('lg')"> <i class="fa fa-plus"></i> Agregar</md-button>
          <cliente-list></cliente-list>
           </div>
       </div> 
 </div>
</section>