<!-- <section data-ng-controller="doctorUpdateController as UpCtrl" >
    <div class="modal-header">
        <h3 class="modal-title">Nuevo Doctor</h3>
    </div>
    <div class="modal-body">
        <form name="updateDoctorForm" id="updateDoctorForm">
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div data-g-show="error" class="text-center text-danger ng-hide">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error" class="ng-binding"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center">
                         <div class="panel panel-success well">
                             <div class="panel-heading">
                               Informacion del Doctor
                             </div>
                                  
                  <div class="form-group divmargin" >
                            <label class="control-label" for="DoctorCI">C.I.</label>
                             <div class="controls">
                        <select data-ng-model="doctor.DoctorCI.tipo" id="doctor.tipo" class="form-control" name="tipo" style=""><option value="" class="">-- Tipo Entidad --</option><option value="Cedula" label="">Cedula</option><option value="Pasaporte" label="">Pasaporte</option>
                         <option value="RNC" label="">RNC</option></select>
                            </div>
                            <div class="controls">
                                <input type="text" data-ng-model="doctor.DoctorCI.value" name="tipovalue" id="tipovalue" class="form-control" placeholder="ej. 000-000000-0" style="">
                            </div>
                
                            
                        </div>

                 <div class="form-group">
                 <label class="control-label" for="name">Nombre</label>
                        <div class="controls">
                          <input type="text" data-ng-model="doctor.firstName" id="firstName" name="firstName" class="form-control">
                       </div>
                  </div>
                   <div class="form-group">
                            <label class="control-label" for="doctorLastName">Apellidos</label>
                            <div class="controls">
                             <input type="text" data-ng-model="doctor.lastName" id="doctorLastName" name="lastName" class="form-control">
                            </div>
                    </div>
                    <div class="form-group">
                          <label class="control-label" for="doctorTelefono">Telefono</label>
                            <div class="controls">
                            <input type="text" data-ng-model="doctor.DoctorTelefono" id="DoctorTelefono" name="DoctorTelefono" class="form-control">
                            </div>
                    </div>
                     <div class="form-group">
                          <label class="control-label" for="doctorTelefono">Email</label>
                            <div class="controls">
                            <input type="email" data-ng-model="doctor.DoctorEmail" id="DoctorEmail" name="DoctorEmail" class="form-control">
                            </div>
                    </div>

                    </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-warning well">
                             <div class="panel-heading"> 
                             Informacion Distrital</div>

                        <div class="form-group">
                            <label class="control-label" for="doctorPais">Pais</label>
                            <div class="controls">
                        <select data-ng-model="doctor.rpais" data-ng-change="UpCtrl.filterByPais()"  id="doctorPais" class="form-control" ng-options="value._id as value.name for value in UpCtrl.pais" >
                        <option value="" class="">-- Selecione Pais --</option>
                        </select>        
                            </div>
                            </div>

                        <div class="form-group">
                            <label class="control-label" for="doctorZona">Zona</label>
                            <div class="controls">
                        <select data-ng-model="doctor.doctorZona" id="doctorZona" class="form-control" name="doctorZona" ng-options="value._id as value.doctorNombre for value in doctors" >
                        <option value="" class="">-- Selecione Zona --</option>
                        </select>        
                            </div>
                        </div>
                        
          <div class="form-group">
                  <label class="control-label" for="doctorCiudad">Ciudad</label>
                <div class="controls">
              <select data-ng-model="doctor.rciudad"  id="clienteCiudad" class="form-control" data-ng-change="UpCtrl.filterByCiudad()" name="clienteCiudad" ng-options="value._id as value.name for value in UpCtrl.ciudad | filter: doctor.rpais" >
                        <option value="" class="">-- Selecione Ciudad --</option>
                        </select> 

                            </div>
                        </div>
                      <div class="form-group">
                            <label class="control-label" for="doctorSector">Sector</label>
                            <div class="controls">
                        <select data-ng-model="doctor.rsector" id="doctorSector" class="form-control" name="doctorSector" ng-options="value._id as value.name for value in UpCtrl.sector | filter:doctor.rciudad" >
                        <option value="" class="">-- Selecione Sector --</option>
                        </select>        
                            </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label" for="doctorDireccion">Direccion</label>
                            <div class="controls">
                              <input type="text" data-ng-model="doctor.DoctorDireccion" id="DoctorDireccion" name="DoctorDireccion" class="form-control" placeholder="Insertar Direccion">
                            </div>
                        </div>
                     </div>
                    </div>
                </div>
                        
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-lg"  ng-click="UpCtrl.update(doctor); ok(); doctor.showDoctorSave()" ng-disabled="createDoctorForm.$invalid">Save &amp; Close</button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
    </div>

</section> -->


<section data-ng-controller="doctorUpdateController as UpCtrl" >
    <div class="modal-header">
        <h3 class="modal-title">Atualizar Doctor</h3>
    </div>
    <div class="modal-body">
        <form name="createDoctorForm" id="createDoctorForm" class="form-horizontal">
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div data-g-show="error" class="text-center text-danger ng-hide">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error" class="ng-binding"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                         <div class="panel panel-success">
                             <div class="panel-heading headerMargin">
                                 <span class="headertitle">Informacion Generales</span>
                             </div>

               <div class="panel-body">
                 <div class="row">
               <div class="col-sm-6">
               <div class="form-group divmargin" >
                <label class="control-label col-sm-2" for="name"></label>
                <div class="col-sm-10">
                   <select data-ng-model="doctor.DoctorCI.tipo" id="UpCtrl.tipo" class="form-control" name="tipo" style=""><option value="" class="">-- Tipo Entidad --</option><option value="Cedula" label="">Cedula</option><option value="Pasaporte" label="">Pasaporte</option>
                         <option value="RNC" label="">RNC</option></select>
                </div>
                </div>

                  <div class="form-group" >
                            <label class="control-label col-sm-2" for="DoctorCI">C.I.</label>
                             <div class="col-sm-10">
                    
                            </div>
                            <div class="col-sm-10">
                                <input type="text" data-ng-model="doctor.DoctorCI.value" name="tipovalue" id="tipovalue" class="form-control" placeholder="ej. 000-000000-0" style="">
                            </div> 
                        </div>

                 <div class="form-group">
                 <label class="control-label col-sm-2" for="name">Nombre</label>
                        <div class="col-sm-10">
                          <input type="text" data-ng-model="doctor.firstName" id="firstName" name="firstName" class="form-control">
                       </div>
                  </div>
                   <div class="form-group">
                            <label class="control-label col-sm-2" >Apellidos</label>
                            <div class="col-sm-10">
                             <input type="text" data-ng-model="doctor.lastName" id="doctorLastName" name="lastName" class="form-control">
                            </div>
                    </div>
                    </div> <!--end of col-md-6 - Body -->
                    <div class="col-sm-6">
                     <div class="form-group">
                        <label class="control-label col-sm-3" for="patientpatientSexo">Sexo</label>
                        <div class="col-sm-9">
                            <select data-ng-model="doctor.sexo" id="patientSexo" class="form-control"  style=""><option value="" class="">-- Seleccione Sexo --</option><option value="Masculino" label="Masculino">Masculino</option><option value="Femenino" label="Femenino">Femenino</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Departamento</label>
                        <div class="col-sm-9">
                            <select data-ng-model="doctor.rdoctorDepartment"  class="form-control"  ng-options="value._id as value.value for value in department" >
                                <option value="" class="">-- Selecione--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >Especialidad</label>
                        <div class="col-sm-9">
                            <select data-ng-model="doctor.rdoctorEspecialidad"  class="form-control" name="doctorEspecialidad" ng-options="value._id as value.value for value in especialidad" >
                                <option value="" class="">-- Selecione--</option>
                            </select>
                        </div>
                    </div>
                    </div>
              

                    </div> <!--end of row - Body -->
                    </div> <!--end of Panel - Body -->
                    </div><!--end of Panel -->
                    </div>



                </div>

                <div class="row">
                   <div class="col-sm-12">
                     <div class="panel panel-warning ">
                             <div class="panel-heading headerMargin"> 
                               <span class="headertitle">Informacion de Contacto</span></div>

                               <div class="panel-body">
<div class="row">
<div class="col-sm-6">


 <div class="form-group">
                            <label class="control-label col-sm-2" for="doctorPais">Pais</label>
                            <div class="col-sm-10">
                        <select data-ng-model="doctor.rpais" data-ng-change="UpCtrl.filterByPais()"  id="doctorPais" class="form-control" ng-options="value._id as value.name for value in UpCtrl.pais" >
                        <option value="" class="">-- Selecione Pais --</option>
                        </select>        
                            </div>
                        </div>

                
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="doctorZona">Zona</label>
                            <div class="col-sm-10">
                        <select data-ng-model="UpCtrl.doctorZona" id="doctorZona" class="form-control" name="doctorZona" ng-options="value._id as value.doctorNombre for value in doctors" >
                        <option value="" class="">-- Selecione Zona --</option>
                        </select>        
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-sm-2">Ciudad</label>
                        <div class="col-sm-10">
                        <select  data-ng-model="doctor.rciudad" class="form-control"  data-ng-change="UpCtrl.filterByCiudad()"  ng-options="value._id as value.name for value in UpCtrl.ciudad | filter:UpCtrl.doctorPais ">  
                        <option value="" class="">-- Selecione Ciudad --</option>
                        </select> 
                           </div>
                        </div>
                         <div class="form-group">
                            <label class="control-label col-sm-2" for="doctorSector">Sector</label>
                            <div class="col-sm-10">
                        <select data-ng-model="doctor.rsector" id="doctorSector" class="form-control" name="doctorSector" ng-options="value._id as value.name for value in UpCtrl.sector | filter:UpCtrl.doctorCiudad" >
                        <option value="" class="">-- Selecione Sector --</option>
                        </select>        
                            </div>
                        </div>

                         <div class="form-group">
                          <label class="control-label col-sm-2" for="doctorDireccion">Direccion</label>
                            <div class="col-sm-10">
                              <input type="text" data-ng-model="doctor.DoctorDireccion" id="DoctorDireccion" name="DoctorDireccion" class="form-control" placeholder="Insertar Direccion">
                            </div>
                        </div>




</div>
<div class="col-md-6">

<div class="">

<div class="form-group">
                        <label class="control-label col-sm-3" for="patientDireccion">Tel. Celular</label>
                                                <div class="controls">
                                                    <div class="input-group doctorContact">
                                                        <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-phone"></i></span>
                                                        <input type="text" autocomplete="false" data-ng-model="doctor.doctorPhones.celular" class="form-control" name="celular" placeholder="Username">
                                                    </div>
                                                </div>
                      </div>
                       <div class="form-group">
                        <label class="control-label col-sm-3" for="patientDireccion">Tel. Casa</label>
                          <div class="controls">
                           <div class="input-group doctorContact"> 
                           <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-phone"></i></span>                                   
                          <input type="text" class="form-control" autocomplete="false" data-ng-model="doctor.doctorPhones.casa" placeholder="Telefono Casa" name="casa">
                         </div>
                         </div>
                       
                      </div>

                      <div class="form-group ">
                        <label class="control-label col-sm-3">Email </label>
                        <div class="controls">
                          <div class="input-group doctorContact">
                           <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
                          <input type="text" class="form-control" ng-model="doctor.DoctorEmail" autocomplete="false" placeholder="Correo Electronico">
                    </div>
                  </div>
                 </div>

</div>
</div>
</div><!--End of contain row -->

                </div><!--End of panel body -->
                </div><!--End of panel-->
                </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success btn-lg"  ng-click="UpCtrl.update(doctor); ok(); UpCtrl.showDoctorSave()" ng-disabled="createDoctorForm.$invalid">Guardar &amp; Cerrar</button>
        <button class="btn btn-warning btn-lg" ng-click="cancel()">Cancel</button>
    </div>

</section>