<section data-ng-controller="CitasController as vm" data-ng-init="find()">
  <div class="panel panel-success">
           <div class="panel-heading">
                <h1><i class="fa fa-calendar "></i> Agenda / Manejo de Citas</h1>
           </div> 

       
</div>
<div class="row">
  
<div class="col-md-8 col-md-offset-1">     
<div class="row">

        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
          <h2 class="text-center">{{calendarTitle}}</h2>
          </div>
</div>

<div class="row">
  <div class="col-md-6 text-center">
  <div class="btn-group">
      <button
  class="btn btn-primary"
  mwl-date-modifier
  date="calendarDay"
  decrement="calendarView">
  Anterior
</button>

<button
  class="btn btn-default"
  mwl-date-modifier
  date="calendarDay"
  set-to-today>
  Hoy
</button>

<button
  class="btn btn-primary"
  mwl-date-modifier
  date="calendarDay"
  increment="calendarView">
  Siguiente 
</button>
</div>
</div>
<br class="visible-xs visible-sm">
<div class="col-md-6 text-center">
<div class="btn-group">
                <label class="btn btn-primary" ng-model="calendarView" btn-radio="'year'">Año</label>
                <label class="btn btn-primary" ng-model="calendarView" btn-radio="'month'">Mes</label>
                <label class="btn btn-primary" ng-model="calendarView" btn-radio="'week'">Semana</label>
                <label class="btn btn-primary" ng-model="calendarView" btn-radio="'day'">Dia</label>
</div>
</div>
 </div>
 <div class="row" style="margin-top: 20px;">
<div class="col-sm-12  col-md-10 col-md-offset-1">
         <div>
                <div class="col-sm-2 "><div class="legendDiv" style="background: #FDF1BA"></div><label class="legendLabel">Por Venir</label>
                </div>
                    
                <div class="col-sm-2"><div class="legendDiv" style="background: #D1E8FF"></div><label class="legendLabel" >En Espera</label>
                </div>
                      
               <div class="col-sm-3"><div class="legendDiv" style="background: #CAFFCA"></div><label class="legendLabel">Completado</label>
               </div>
               
              <div class="col-sm-2"><div class="legendDiv" style="background:  #C1C1C1"></div><label class="legendLabel">Cancelado</label>
              </div>
              
              <div class="col-sm-2"><div class="legendDiv" style="background:  #FFE6FF"></div><label class="legendLabel">Pospuesto</label>
              </div>
        </div>
</div>
</div>
</br>

      <mwl-calendar
          view="calendarView"
          current-day="calendarDay"
          events="events"
          view-title="calendarTitle"
          day-view-start="06:00"
          day-view-end = "22:00"
          day-view-split="15"
          on-timespan-click="modelDetail('lg',calendarDate)"
          on-event-click="eventClicked(calendarEvent)"
          on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
          edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
          delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
          on-edit-event-click="eventEdited(calendarEvent)"
          on-delete-event-click="eventDeleted(calendarEvent)"
          auto-open="true">
      </mwl-calendar>
   </div>
</div>

        <!-- <div id="calendar" class="calendar" calendar="myCalendar" ui-calendar="calOptions.calendar" ng-model="eventSources">
        </div> -->
   


   <!--  <div class="list-group">
        <a data-ng-repeat="cita in citas" data-ng-href="#!/citas/{{cita._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="cita.created | date:'medium'"></span>
				by
				<span data-ng-bind="cita.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="cita.name"></h4>
        </a>
    </div> -->

</section>
