<section data-ng-controller="SectorsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Sectors</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="sector in sectors" data-ng-href="#!/sectors/{{sector._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="sector.created | date:'medium'"></span>
				by
				<span data-ng-bind="sector.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="sector.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!sectors.$resolved || sectors.length">
    	No Sectors yet, why don't you <a href="/#!/sectors/create">create one</a>?
    </div>
</section>